* {
  padding: 0px;
  margin: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: none;
}

#root {
  height: 100%;
}

// Custom Style Starts Here

// colors
.lgt-gry {
  color: #b5b5b5;
}
.gry {
  color: #979797;
}
.green {
  color: #00df00;
}
.yellow {
  color: #d3af02;
}
.lgt-yellow {
  color: #ffd404;
}
.blu {
  color: #038f8f;
}
.lgt-blue {
  color: aqua;
}
.rd-yellow {
  color: #e58c08;
}
.short-color {
  color: #8a9300;
}
.red {
  color: red;
}
// font size
.font-40 {
  font-size: 40px;
}
.font-30 {
  font-size: 30px;
}
.xp-custom-views {
  height: 100%;
  border-radius: 10px;
}

.added-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  width: 200px;
}
// .xp-custom-posts {
//   height: 400px;
// }
