* {
  padding: 0px;
  margin: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: none;
}

#root {
  height: 100%;
}

// Custom Style Starts Here

// colors
.lgt-gry {
  color: #b5b5b5;
}
.gry {
  color: #979797;
}
.green {
  color: #00df00;
}
.yellow {
  color: #d3af02;
}
.lgt-yellow {
  color: #ffd404;
}
.blu {
  color: #038f8f;
}
.lgt-blue {
  color: aqua;
}
.rd-yellow {
  color: #e58c08;
}
.short-color {
  color: #8a9300;
}
.red {
  color: red;
}
// font size
.font-40 {
  font-size: 40px;
}
.font-30 {
  font-size: 30px;
}

.added-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  width: calc(100% - 1px);
}
.xp-txt-views {
  width: 50px;
}
.xp-icon-holder {
  width: 55px;
}
.xp-center-wd {
  width: calc(100% - 105px);
}
.xp-custom-views {
  height: 100%;
  border-radius: 10px;
}
.xp-custom-posts {
  overflow: hidden;
  border-radius: 10px;
}
.xp-head-ht {
  height: 50px;
}
.xp-data-dv {
  max-height: 350px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}
